<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="list">List</a>
          <a class="nav-link" routerLink="edit/0">Create</a>
        </div>
      </div>
    </div>
  </nav>

  <div *ngIf="showLoadingIndicator" class="spinner"></div>

  <div class="row mt-3">
    <router-outlet></router-outlet>
  </div>
</div>